@mixin heading-l {
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  letter-spacing: -1px;
}

@mixin heading-m {
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.75px;
}

@mixin heading-s {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.25px;
}

@mixin heading-xs {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
}

// Mixin for mobile styles
@mixin mobile {
  @media only screen and (max-width: 375px) {
    @content;
  }
}

// Mixin for tablet styles
@mixin tablet {
  @media only screen and (min-width: 376px) {
    @content;
  }
}

// Mixin for desktop styles
@mixin desktop {
  @media only screen and (min-width: 730px) {
    @content;
  }
}