$medium-purple: #7C5DFA;
$periwinkle-blue: #9277FF;
$eerie-black: #1E2139;
$gunmetal: #252945;
$lavender-mist: #DFE3FA;
$lilac-gray: #888EB0;
$light-slate-blue: #7E88C3;
$rich-black: #0C0E16;
$persimmon-red: #EC5757;
$pale-pink: #FF9797;
$ghost-white: #F8F8FB;
$smoky-black: #141625;
$midnight-blue: #373B53;
$blue-gray: #858BB2;