@import "src/styles/_variables";

.header__logo {
  width: 72px;
  height: 100%;
  position: relative;
  background: $medium-purple;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}